.search-suggestion-container {
  position: absolute;
  width: calc(100% - (160px));
  left: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(132, 132, 132, 0.1);
  margin-top: 70px;
  
}

.suggestion-list {
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  margin-left: 0;
}

.suggestion-item {
  list-style: none;
  padding-left: 20px !important;
  margin: 0;
  left: 0;
  margin-left: 0;
}
